.main {
  display: flex;
  height: 100vh;
}

.main__nav {
  flex: 20%;
  background-color: rgb(18, 0, 66);
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding-left: 10px;
  color: white;
}

.main__nav--content {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.main__nav--content:hover {
  cursor: pointer;
  background-color: rgb(32, 0, 120);
  border-radius: 5px;
}

.main__nav--icon {
  margin-right: 10px;
  font-size: 30px !important;
  margin-left: 5px;
}

.main__content {
  flex: 80%;
  background-color: rgb(0, 51, 106);
  color: white;
  font-size: 100px;
  text-align: center;
  padding-top: 300px;
  overflow: auto;
}

.game_btn {
  width: 300px;
  height: 100px;
  border: 1px solid white;
  border-radius: 10px;
  background-color: rgb(0, 146, 146);
  font-size: 30px;
}

.main__content--ranking {
  height: 2000px;
}

.main__content--wrap {
  display: flex;
  justify-content: space-around;
}
